.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #000;
}
.logo {
  width: 100px;
}
.nav-items {
  display: flex;
  gap: 60px;
  padding: 0px 20px;
}
.nav-items > li {
  list-style-type: none;
}
.body {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.res-container {
  width: 330px;
  height: auto;
  border: 1px solid #000;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}
.res-image {
  width: 100%;
}
.filter-btn {
  margin: 10px;
}
#search-div {
  margin: 10px;
  display: flex;
}
